@{
    ViewData["Title"] = "Database Error";
}

<h1 class="text-danger">Database Error.</h1>
<h2 class="text-danger">An error occurred while connecting to the app database.</h2>

<h3>Database Connection String</h3>
<p>
    @* Commenting this out till I can work out how to add this to the error page *@
    @* @dbConnectionString *@
</p>